@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: young-serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: hsl(30, 54%, 90%);
    font-family: outfit, arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:  hsl(30, 10%, 34%);
    display: grid;
    justify-content: space-around
}

hr {
    color:hsl(30, 18%, 87%);
}
.container {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    display: block;
    margin: 40px 0px;
    
}

.img {
    border-radius: 10px;
}

header > h1 {
    color : hsl(24, 5%, 18%);
    font-family: young-serif, Times, serif;
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0px;
}

.container > header > p{
    padding-bottom: 20px;
    color: hsl(30, 10%, 34%);
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 15px;
}

.preparation > h3 {
    color: hsl(332, 51%, 32%);
}

.preparation ul {
    margin: 15px;
}

.preparation ul li{
    padding: 5px;
    margin-left: 15px;
}


.ingredients h1{
    font-family: young-serif, Times, serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 20px;
}


.ingredients ul{
    margin: 10px 0px 30px 25px;
}

.ingredients ul li {
    padding: 5px;
    color: hsl(30, 10%, 34%);
}

.instructions h1{
    font-family: young-serif, Times, serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 20px;
}

.instructions ul{
    padding: 5px;
    margin: 10px 0px 30px 25px;
}

.instructions ul li{
    padding: 5px;
}

.nutrition h1{
    font-family: young-serif, Times, serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-top: 20px;
}

.nutrition p {
    margin: 25px 0px;

}

th, td {
    margin: 400px;
    padding: 0px 100px 10px 30px; 
    text-align: left;
}

th {
    font-weight: 500;
}

td {
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}



@media (max-width: 500px) {
    body {
        background-color: hsl(30, 54%, 90%);
        margin: 0px !important;
        font-size: 14px;
    }

    .container{
        max-width: 380px;
        padding: 0px !important;
        border-radius: 0px !important;
        margin: 0px !important;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .img {
        border-radius: 0px;
        width: 380px;
        display: block;
        margin: auto;
    }

    .container h1{
        margin: 30px;
        font-size: 30px;
    }

    .container p {
        margin: 30px;
    }

    .preparation {
        margin: 40px;
    }

    .ingredients {
        margin: 30px;
    }

    .instructions {
        margin: 30px;
    }

    .nutrition {
        margin: 20px;
    }

    th, td {
        width: 100px;
        padding: 0px 50px 25px 50px; 
        text-align: left;
    }
}